h1 {
  text-align: center;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #1976d2;
  color: white;
}

tr:hover {
  transform: scale(1.01);
  transition: 0.3s;
}
